html{

    background-color: rgb(198, 227, 227);

}

header {

    padding:10px;
    background-color: rgb(208, 255, 255);

}

footer{
    
    padding:10px;
    background-color: rgb(208, 255, 255);

}